/Debug
/Release
/Project1/Debug
/Project1/Project1.vcxproj
/Project1/Project1.vcxproj.filters
/Project1/Project1.vcxproj.user
/Project1/x64/Debug
/Project1/Release
/Solution1.sdf
/Solution1.sln
/Solution1.v11.suo
/temp
/x64
*.sln
/.vs
*.opensdf